{{titulo}}

<form FormGroup="autoresformForm">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Codigo</label>
      <input type="email" FormControlName="code" class="form-control" placeholder="codigo">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">descripcion</label>
      <input type="email" FormControlName="description" class="form-control" placeholder="nombre">
    </div>
 
  </div>
  
  <button type="submit" (click)="Saveform()" class="btn btn-primary">Guardar</button>
</form>
