<form>
  <div class="form-group">
    <label for="formGroupExampleInput">codigo</label>
    <input type="text" FormControlName="code"class="form-control" id="formGroupExampleInput" placeholder="nombre">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput">descripcion</label>
    <input type="text" FormControlName="description" class="form-control" id="formGroupExampleInput" placeholder="apellido">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput">ciudad</label>
    <input type="text" FormControlName="contry" class="form-control" id="formGroupExampleInput" placeholder="fecha">
  </div>
  <div class="form-group">
   <button type="button" (click)="Saveform()">click</button>     
  </div>

</form>